# Ignore specific data files and directories
sijapi/data/calendar.ics
sijapi/data/asr/
sijapi/data/geocoder/
sijapi/data/courtlistener/
sijapi/data/tts/
sijapi/data/db/
sijapi/data/img/workflows/private
sijapi/data/*.pbf
sijapi/data/geonames.txt
sijapi/data/img/images/
sijapi/config/*.yaml
sijapi/config/MS365/
sijapi/local_only/
sijapi/testbed/
khoj/
r2r/

**/.env
**/.config.yaml
**/*.log
**/logs/
**/__pycache__
**/.DS_Store
**/*.ics
**/*.sqlite
**/private/
**/*sync-conflict*.*
**/*.db
**/*.mp3
**/*.mp4
**/*.wav
**/*.pyc
**/.ipynb_checkpoints/
venv/
env/
.venv/
.vscode/
.idea/
*~
*.swp
*.swo
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
ehthumbs.db
Thumbs.db
sijapi/testbed/
