setuptools
aiofiles
aiohttp
asyncpg
backports.zoneinfo
elevation
pydantic
python-dotenv
pyyaml
reverse_geocoder
timezonefinder
python-dateutil
loguru
fastapi
httpx
hypercorn
starlette
PyPDF2
filetype
pandas
paramiko
pdf2image
pdfminer
pytesseract
python-docx
scipy
sshtunnel
click
aura_sr
torch
requests
instagrapi
jwt
ollama
pyotp
pytz
tqdm
chromadb
html2text
markdown
openai
EventKit
Foundation
tailscale
folium
selenium
webdriver_manager
pydub
shapely
bs4
imbox
markdownify
newspaper3k
readability
trafilatura
urllib3
anyio
semaphore
location
